:root {
  --primary: #fff;
  --bg-color: rgb(61, 5, 14);
  --bg-envelope-color: #f5edd1;
  --envelope-tab: #ecdeb8;
  --envelope-cover: #e6cfa7;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --txt-color: #444;
  --heart-color: rgb(252, 8, 231);
  --modal-bg: rgba(0, 0, 0, 0.8);
  --modal-border: #ff69b4;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 100vh;
  display: grid;
  place-items: center;
}

.container > .envelope-wrapper {
  background: var(--bg-envelope-color);
  box-shadow: 0 0 40px var(--shadow-color);
  position: relative;
}

.envelope-wrapper > .envelope {
  position: relative;
  width: 300px;
  height: 230px;
}

.envelope-wrapper > .envelope::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 2;
  border-top: 130px solid var(--envelope-tab);
  border-right: 150px solid transparent;
  border-left: 150px solid transparent;
  transform-origin: top;
  transition: all 0.5s ease-in-out 0.7s;
}

.envelope-wrapper > .envelope::after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 0px;
  height: 0px;
  border-top: 130px solid transparent;
  border-right: 150px solid var(--envelope-cover);
  border-bottom: 100px solid var(--envelope-cover);
  border-left: 150px solid var(--envelope-cover);
}

.envelope > .letter {
  position: absolute;
  right: 20%;
  bottom: 0;
  width: 54%;
  height: 80%;
  background: var(--primary);
  text-align: center;
  transition: all 1s ease-in-out;
  box-shadow: 0 0 5px var(--shadow-color);
  padding: 10px; /* Reduced padding */
  cursor: grab;
  background-image: url('paper.jpg'); /* Add your paper texture image */
  background-size: cover;
}

.envelope > .letter:active {
  cursor: grabbing;
}

.envelope > .letter > .text {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--txt-color);
  text-align: left; /* Left aligned for letter look */
  font-size: 10px;
  margin: 0 auto; /* Center text block */
  padding-top: 20px; /* Adjust padding to move text down */
}

.envelope > .letter > .text pre {
  margin: 0; /* Remove default margin */
  white-space: pre-wrap; /* Ensure wrapping */
}

.heart {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  background: var(--heart-color);
  z-index: 4;
  transform: translate(-50%, -20%) rotate(45deg);
  transition: transform 0.5s ease-in-out 1s;
  box-shadow: 0 1px 6px var(--shadow-color);
  cursor: pointer;
}

.heart:before, 
.heart:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: var(--heart-color);
  border-radius: 50%;
}

.heart:before {
  top: -7.5px;
}

.heart:after {
  right: 7.5px;
}

.flap > .envelope:before {
  transform: rotateX(180deg);
  z-index: 0;
}

.flap > .envelope > .letter {
  bottom: 100px;
  transform: scale(1.2);
  transition-delay: 1s;
}

.flap > .heart {
  transform: rotate(90deg);
  transition-delay: 0.4s;
}

.modal {
  display: none; /* Hide modal by default */
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--modal-bg);
  align-items: center;
  justify-content: center;
}

.modal.show {
  display: flex; /* Show modal when .show class is added */
}

.modal-content {
  background-color: var(--primary);
  padding: 20px;
  border: 5px solid var(--modal-border);
  border-radius: 15px;
  width: 80%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 0 10px var(--shadow-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content .result {
  margin-bottom: 20px;
}

.modal-content input {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
}

.modal-content button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

.modal-content button:hover {
  background-color: #45a049;
}

.result img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Styles for the enlarged letter */
.letter-enlarged {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 11.5in; /* Original width (8.5in) + 3in */
  height: 7in; /* Original height (11in) - 4in */
  max-width: 90vh; /* Limit width to 90% of viewport height */
  max-height: 95vw; /* Limit height to 95% of viewport width */
  transform: translate(-50%, -50%) rotate(90deg); /* Rotate and center */
  z-index: 1000;
  background: var(--primary);
  padding: 40px;
  overflow-y: auto;
  cursor: default;
  transition: transform 0.3s ease-in-out;
}


.letter-enlarged #letter-content {
  font-size: 18px; /* Increase font size */
  text-align: justify; /* Center align text */
  margin: 35px; /* Add margins from all sides */
  padding-top: 10px; /* Adjust top padding as needed */
  padding-left: 10px;
  padding-right: 10px;
}

.letter-enlarged strong {
  display: block; /* Ensure it takes full width */
  font-size: 24px; /* Increase font size for emphasis */
  padding-left: 10px;
  padding-top: 40px;
  margin-bottom: 2px; /* Add space below */
}


.sticker-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%; /* Adjust width as needed for sticker space */
  height: 100%;
}

.sticker {
  position: absolute;
  width: 50px;
  height: 50px;
  background-size: cover;
  display: none; /* Initially hide the stickers */
}

.sticker.top-righta {
  top: 20px;
  left: 180px;
  width: 100px;
  height: 100px;
  background-image: url('u.png');
}

.sticker.top-rightb {
  top: 20px;
  left: 300px;
  width: 120px;
  height: 100px;
  background-image: url('me.png');
}

.sticker.bottom-left {
  bottom: 35px;
  left: 10px;
  width: 120px;
  height: 105px;
  background-image: url('hellokitty.png');
}

.sticker.bottom-right {
  bottom: 20px;
  right: 20px;
  width: 110px;
  height: 150px;
  background-image: url('kuromi.png');
}

  
  #back-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
  font-size: 24px;
  color: #4CAF50;
  z-index: 1001; /* Ensure it appears above other elements /
  width: 50px; / Adjust width for hitbox /
  height: 50px; / Adjust height for hitbox */
  }
  
  #back-button
  {
  color: #45a049;
  }

  .audio-container {
    position: absolute;
    bottom: 10px; /* Position at the bottom of the envelope */
    left: 50%;
    transform: translateX(-50%);
    height: 10%;
    width: 20%; /* Adjust width as needed */
    text-align: center;
    background: var(--primary); /* Match the background of the envelope */
    padding: 10px;
    box-shadow: 0 0 5px var(--shadow-color);
    border-radius: 5px;
}

.audio-title {
    font-size: 18px; /* Adjust font size as needed */
    margin-bottom: 5px; /* Space between title and audio player */
    color: var(--txt-color); /* Match text color */
}

audio {
    width: 100%;
}

body {
  background-image: url('starry.gif');
  background-size: cover; /* Cover the entire background */
  background-repeat: no-repeat; /* Do not repeat the background */
  background-attachment: fixed; /* Fixed background position */
  background-position: center center; /* Center the background */
}